.FoundWords {
    text-align: left;
    width: 100%;
}
.FoundWords ul{
    display: flex;
    flex-flow: column wrap;
    max-height: 50vh;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}

li {
    text-transform: capitalize;
    list-style:none;
    width: 25%;
    padding: 5px 0px;
    border-bottom: 1px dotted black;
}