@media screen and (max-width: 800px) {
    .Container {
        width: min(100vw, 1000px);
        display: flex;
        flex-flow: column wrap;
        margin: auto;
        padding: 10px;
    }
    .Container > *{
        width: 100%;
    }
    
    
}

@media screen and (min-width: 800px) {
    .Container {
        width: min(100vw, 1000px);
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    .Container > *{
        width: 50%;
    }
    
    
}

.optionButton {
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    border-color: aliceblue;
}